<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Vue Templating Basics</title>
</head>
<body>
    <div class="m-20">
        This is a image that's being indexed from Twitter and who's data is being inferred in our image's source parameter using the v-bind operative because normally Vue doesn't insert data unless it is referenced specifically using double curly brackets
    </div>
    <div id="app">
        <div class="w-32 h-32 rounded-full overflow-hidden mx-auto mt-12 mb-8">
            <img v-bind:src="avatar" alt="">
        </div>

        
        <div class="text-2xl font-medium text-gray-700 text-center mb-8">
            Page Deployment Status
        </div>
        
        <div class="text-white py-2 text-center max-w-sm mx-auto rounded shadow bg-green-500" v-if="live">this site is currently live</div>
        <div class="text-white py-2 text-center max-w-sm mx-auto rounded shadow bg-red-500" v-if="!live">this site is currently not live</div>
    </div>
        
    <script>
        const app = new Vue({
            el: "#app",
            data:{
                avatar: "https://pbs.twimg.com/profile_images/1302283957560659971/s1nag547_400x400.jpg",
                live: false
            }
        })
    </script>
</body>
</html>
